################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/demo/print/ostprint/.vs/ostprint/v15/Browse.VC.db
/demo/print/ostprint/.vs/ostprint/v15
/demo/print/ostprint/ostprint.sln
